<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{% block title %}Parliament diagram generator{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/parliamentstyle.css')}}">
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fork-awesome.min.css')}}"/>
    <script src='https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.2.1/jquery.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jscolor.js')}}"></script>
    <script src="{{url_for('static', filename='js/select2.min.js')}}"></script>
    {% block otherimports %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-dark bg-primary shadow-sm text-white">
        <h1 class="justify-content-center container"><a class="navbar-brand">Parliament Diagrams</a></h1>
      </nav>
      {% if config["oauth_enabled"] %}
      <div class="container" style="text-align: end;">
        OAuth:
        {% if "username" in session %}
        <!-- TODO: make that logout refresh the page (or redirect to the current page) -->
        Authorized as {{ session["username"] }} - <a href="{{url_for('logout')}}" title="Disconnect your account from this tool">Logout</a>
        {% else %}
        <a href="{{url_for('login')}}" title="Authorize the application to post diagrams on Wikimedia Commons from your account">Connect</a>
        {% endif %}
      </div>
      {% endif %}

      <div class="container">
        <div class="block card-deck">
          <div class="card">
            <div class="card-body">
              <a href="{{url_for('archinputform')}}">
                <img class="mt-5" src="{{url_for('static', filename='images/AssNat_16_groupes_2022.svg')}}" alt="arch diagram tool" title="arch diagram tool" width="90%">
              </a>
              <p class="card-text text-center pt-3"><a href="{{url_for('archinputform')}}">Arch-style diagram</a></p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <a href="{{url_for('usinputform')}}">
                <img class="mt-5" src="{{url_for('static', filename='images/87th_Texas_Senate.svg')}}" alt="USA diagram tool" title="USA diagram tool" width="90%">
              </a>
              <p class="card-text text-center pt-3"><a href="{{url_for('usinputform')}}">US-style diagram</a></p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <a href="{{url_for('westminsterinputform')}}">
                <img class="mt-5" src="{{url_for('static', filename='images/NewZealand_House_Nov_2020.svg')}}" alt="Westminster-style diagram tool" title="Westminster-style diagram tool" width="90%">
              </a>
              <p class="card-text text-center pt-3"><a href="{{url_for('westminsterinputform')}}">Westminster-style diagram</a></p>
            </div>
          </div>
        </div>

        {% block content %}{% endblock %}

      </div> <!-- Closes div class=container -->
    </div> <!-- Closes div id=header -->

    <footer class="footer" role="contentinfo">
      <div class="container">
        <p>Built by
          <a href="https://en.wikipedia.org/wiki/User:Slashme" target="_blank">David Richfield</a>,
          <a href="https://github.com/Gouvernathor" target="_blank">Gouvernathor</a>,
          <a href="https://github.com/Rade-Mathis" target="_blank">Mathis Rade</a>,
          <a href="https://en.wikipedia.org/wiki/User:Ranjithsiji" target="_blank">Ranjith Siji</a> and
          <a href="https://en.wikipedia.org/wiki/User:Ambadyanands" target="_blank">Ambady Anand S</a>.
          Code licensed under <span><a href="https://raw.githubusercontent.com/slashme/parliamentdiagram/master/LICENSE.md" target="_blank">GPL v2</a></span>.</p>
        <ul class="base-footer-links muted">
          <li><a href="https://github.com/slashme/parliamentdiagram">Source repository</a></li>
          <li> · </li>
          <li><a href="https://github.com/slashme/parliamentdiagram/issues">Issue tracker</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
