<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{% block title %}Parliament diagram generator{% endblock %}</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.svg')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/parliamentstyle.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/fork-awesome.min.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jscolor.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/select2.min.js')}}"></script>
    {% block otherimports %}{% endblock %}
  </head>

  <body>
    <div>
      <nav id="header" class="navbar navbar-dark bg-primary shadow-sm text-white">
        <div class="container">
            <div class="my-2">
                <img src="{{url_for('static', filename='images/logo.svg')}}" height="30" class="d-inline-block align-top" alt="">
                <h1 class="d-inline-block my-0">Parliament Diagrams</h1>
            </div>
            {% if config["oauth_enabled"] %}
            <div>
                OAuth:
                {% if "username" in session %}
                <!-- TODO: make that logout refresh the page (or redirect to the current page) -->
                Authorized as {{ session["username"] }} - <a href="{{url_for('logout')}}"
                    title="Disconnect your account from this tool">Logout</a>
                {% else %}
                <a href="{{url_for('login')}}"
                    title="Authorize the application to post diagrams on Wikimedia Commons from your account">Connect</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
      </nav>

      <div class="container">
        <div class="block card-group">
          <a class="card text-center btn" href="{{url_for('archinputform')}}">
            <img class="mt-5 card-img-top" src="{{url_for('static', filename='images/AssNat_16_groupes_2022.svg')}}" alt="arch diagram tool" title="arch diagram tool" width="90%">
            <p class="card-text pt-3">Arch-style diagram</p>
          </a>

          <a class="card text-center btn" href="{{url_for('usinputform')}}">
            <img class="mt-5 card-img-top" src="{{url_for('static', filename='images/87th_Texas_Senate.svg')}}" alt="USA diagram tool" title="USA diagram tool" width="90%">
            <p class="card-text pt-3">US-style diagram</p>
          </a>

          <a class="card text-center btn" href="{{url_for('westminsterinputform')}}">
            <img class="mt-5 card-img-top" src="{{url_for('static', filename='images/NewZealand_House_Nov_2020.svg')}}" alt="Westminster-style diagram tool" title="Westminster-style diagram tool" width="90%">
            <p class="card-text pt-3">Westminster-style diagram</p>
          </a>
        </div>

        {% block content %}{% endblock %}

      </div>
    </div>

    <footer class="footer" role="contentinfo">
      <div class="container">
        <p>Built by
          <a href="https://en.wikipedia.org/wiki/User:Slashme" target="_blank">David Richfield</a>,
          <a href="https://github.com/Gouvernathor" target="_blank">Gouvernathor</a>,
          <a href="https://github.com/Rade-Mathis" target="_blank">Mathis Rade</a>,
          <a href="https://github.com/carlinmack" target="_blank">Carlin MacKenzie</a>,
          <a href="https://en.wikipedia.org/wiki/User:Ranjithsiji" target="_blank">Ranjith Siji</a> and
          <a href="https://en.wikipedia.org/wiki/User:Ambadyanands" target="_blank">Ambady Anand S</a>.
          Code licensed under <span><a href="https://raw.githubusercontent.com/slashme/parliamentdiagram/master/LICENSE" target="_blank">BSD 3-Clause</a></span>.</p>
        <ul class="base-footer-links muted">
          <li><a href="https://github.com/slashme/parliamentdiagram">Source repository</a></li>
          <li> · </li>
          <li><a href="https://github.com/slashme/parliamentdiagram/issues">Issue tracker</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
