{% extends 'base.html' %}

{% block title %}US-style parliament diagram generator{% endblock %}

{% block otherimports %}
<script type="text/javascript" src="{{url_for('static', filename='js/us.js')}}"></script>
{% endblock %}

{% block content %}
        <div class=block>
          This is a tool to generate arch-shaped diagrams of legislatures of Glorious Two-Party American System.<br/>
          <br/>
          To use this tool, fill in the support of each party in the legislature.
          Then click "Make my diagram", and a link will appear to your SVG diagram. You can then freely download and use the diagram.
          To use it in Wikipedia, I recommend uploading it to Wikimedia Commons.
          If you do upload it, I recommend adding it to the <a href="https://commons.wikimedia.org/wiki/Category:Election_apportionment_diagrams">election apportionment diagrams</a> category.<br/><br/>
        </div>
        <div class=block>
          <div id="container">
            <div class="left" style="font-weight:bold; color:blue"   >Democrat seats   </div><input class="right" type="number" name="Dem" value=40><br/>
            <div class="left" style="font-weight:bold; color:red"    >Republican seats </div><input class="right" type="number" name="Rep" value=40><br/>
            <div class="left" style="font-weight:bold; color:#C9C9C9">Independent seats</div><input class="right" type="number" name="Ind" value=0><br/>
            <div class="left" style="font-weight:bold; color:#6B6B6B">Vacant seats     </div><input class="right" type="number" name="Vac" value=0><br/>
            <br/>
          </div>
        </div>
        <button class="btn btn-primary" onclick="CallArchScript()">
          Make my diagram
        </button>
        <div class="block">
          <div id="postcontainer">
            <br/>
          </div>
        </div>
{% endblock %}
