.floatblock{
  text-align:center;
  float:left;
  width:20%;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  margin-top:5px;
  margin-bottom:5px;
  font-family: sans-serif;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  max-width: 50em;
}
.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.greenbutton {
  background: #34db34;
  background-image: -webkit-linear-gradient(top, #34db34, #29b929);
  background-image: -moz-linear-gradient(top, #34db34, #29b929);
  background-image: -ms-linear-gradient(top, #34db34, #29b929);
  background-image: -o-linear-gradient(top, #34db34, #29b929);
  background-image: linear-gradient(to bottom, #34db34, #29b929);
}
.greenbutton:hover {
  background: #3cfd3c;
  background-image: -webkit-linear-gradient(top, #3cfd3c, #34db34);
  background-image: -moz-linear-gradient(top, #3cfd3c, #34db34);
  background-image: -ms-linear-gradient(top, #3cfd3c, #34db34);
  background-image: -o-linear-gradient(top, #3cfd3c, #34db34);
  background-image: linear-gradient(to bottom, #3cfd3c, #34db34);
}
.deletebutton {
  background: #db3434;
  background-image: -webkit-linear-gradient(top, #db3434, #b92929);
  background-image: -moz-linear-gradient(top, #db3434, #b92929);
  background-image: -ms-linear-gradient(top, #db3434, #b92929);
  background-image: -o-linear-gradient(top, #db3434, #b92929);
  background-image: linear-gradient(to bottom, #db3434, #b92929);
  max-width: 50%;
}
.deletebutton:hover {
  background: #fd3c3c;
  background-image: -webkit-linear-gradient(top, #fd3c3c, #db3434);
  background-image: -moz-linear-gradient(top, #fd3c3c, #db3434);
  background-image: -ms-linear-gradient(top, #fd3c3c, #db3434);
  background-image: -o-linear-gradient(top, #fd3c3c, #db3434);
  background-image: linear-gradient(to bottom, #fd3c3c, #db3434);
}
.block {
    position:relative;
    margin-top:15px;
    margin-bottom:15px;
    /* border:1px solid #ddd; */
    border-radius:3px;
    font-family: sans-serif;
    padding: 5px;
    /* max-width: 50em; */
}
.greendiv {
  background: #34db34;
}
.right {
    display: inline-block;
    width: 10em;
}
.left {
    float: left;
    width: 15em;
}
.notice {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
}
.info {
color: #00529B;
}
.success {
color: #4F8A10;
}
.warning {
color: #9F6000;
}
.error {
color: #D8000C;
}
.homebuttons {
  color: #333;
}
.card {
  box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px 0px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  background: #f9f9f9;
  color: #666;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer ul li {
  display: inline;
}


/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
